html, body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  background-color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}

.black-screen {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.circle p {
  color: black;
}
.black-screen-menu {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.menu ul {
  list-style-type: none;
  padding-left: 0;
}

.menu ul li {
  margin: 20px 0;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 20px;
  color: white;
  text-align: center;
}

.menu-list li {
  margin: 10px 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu ul li button:hover{
  color: #00bfff;
}

.click-me {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

 form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;

 }

 .contact-form{
  margin: 20px auto;
  width: 300px;
 }

 .contact-form div {
  margin-bottom: 15px;
 }

 .contact-form input, .contact-form textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 }

 .contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
 }

 .contact-form button:hover{
  background-color: #007bff
 }

 nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

 nav ul li a{
  color: #fff;
  text-decoration: none;
 }


 .cta-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
 }

 #about, #projects, #contact {
  padding: 40px 20px;
 }
