.loading-screen{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fade-in-out {
    animation: fade 3s infinite;
}

@keyframes fade{
    0% {opacity: 0; }
    20% {opacity: 1; }
    80% {opacity: 1; }
    100% {opacity: 0; }
}